.card {
  border-radius: 6px;
}
@media screen and (max-width: 300px) {
  .card {
    width: 20em;
    height: 11em;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .card {
    width: 22em;
    height: 12em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1300px) {
  .card {
    width: 24em;
    height: 13em;
  }
}
@media screen and (min-width: 1301px) {
  .card {
    width: 26em;
    height: 14em;
  }
}

.cardFront {
  background-image: url("/public/images/bg-card-front.png");
  order: 1;
  background-size: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cardBack {
  order: 2;
  background-size: cover;
  background-image: url("/public/images/bg-card-back.png");
}

span {
  color: white;
  display: inline;
}

.topRow {
  align-self: start;
  padding-left: 3em;
  padding-top: 2em;
}

.bottomRow {
  justify-content: space-between;
  padding: 3em;
}
.bottomRow .cardNumber {
  text-align: left;
  padding-bottom: 1em;
}
.bottomRow .cardNumber span {
  font-size: 1.3em;
}

@media screen and (max-width: 1200px) {
  .topRow img {
    height: 40px;
    width: 70px;
  }
  .topRow {
    padding-left: 1em;
    padding-top: 1em;
  }
  .bottomRow div {
    padding-bottom: 1em;
  }
}
