:root {
  --gradientPrimary: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --smallScreenThreshold: 600px;
}

.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.content {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}

.cardPreviewContainer {
  position: absolute;
}

.gradientContainer {
  background: var(--gradientPrimary);
  width: 33%;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .gradientContainer {
    height: 33%;
    width: 100vw;
  }
}

.formContainer {
  width: 66%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .formContainer {
    width: 100vw;
  }
}

.formContainer form {
  width: 66%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.formContainer form span {
  color: red;
}
