:root {
  --gradientPrimary: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --smallScreenThreshold: 1300px;
}

.App {
  text-align: center;
}

.cardPage {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1300px) {
  .cardPage {
    flex-direction: column;
  }
}

.cardFrontShift {
  top: 4em;
  position: absolute;
  left: 10em;
  margin: 2rem 0;
}

@media (max-width: 1300px) {
  .cardFrontShift {
    left: 2em;
    top: 5em;
    z-index: 50;
  }
}

.cardBackShift {
  top: 20em;
  margin: 2rem 0;
  left: 15em;
  position: absolute;
}

@media (max-width: 1300px) {
  .cardBackShift {
    left: 7em;
    top: 2em;
  }
}

.gradientContainer {
  /* background: var(--gradientPrimary); */
  background-image: url("/public/images/bg-main-desktop.png");
  background-size: cover;
  width: 35vw;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}
@media (max-width: 1300px) {
  .gradientContainer {
    background-image: url("/public/images/bg-main-mobile.png");
    background-size: cover;
    padding-bottom: 1rem;
    width: 100vw;
    height: 35%;
  }
}

.formContainer {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
  height: 65%;

}
@media (max-width: 1300px) {
  .formContainer {
    width: 100vw;
  }
}

.formContainer form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.formContainer form span {
  text-align: left;
  color: red;
}

.formContainer form input {
  padding: 0.75rem;
  border-radius: 8px;
}
