:root {
  --gradientPrimary: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --smallScreenThreshold: 1300px;
  --primary: #6246fb;
  --primaryDark: #21092f;
}

* {
  font-size: 18px;
}

@media (max-width: 1300px) {
  * {
    font-size: 14px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.App {
  text-align: center;
}

.cardPage {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1300px) {
  .cardPage {
    flex-direction: column;
  }
}

.gradientContainer {
  /* background: var(--gradientPrimary); */
  background-image: url("/public/images/bg-main-desktop.png");
  background-size: cover;
  width: 35vw;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}
@media (max-width: 1300px) {
  .gradientContainer {
    background-image: url("/public/images/bg-main-mobile.png");
    background-size: cover;
    padding-bottom: 1rem;
    width: 100vw;
    height: 35%;
  }
}

.cardsPreviewContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardFrontShift {
  left: 7em;
  bottom: 1rem;
  position: relative;
}

@media (max-width: 1300px) {
  .cardFrontShift {
    z-index: 50;
    left: 2rem;
    bottom: 0;
    top: 3rem;
    order: 2;
  }
}

.cardBackShift {
  left: 12em;
  top: 1rem;
  position: relative;
}

@media (max-width: 1300px) {
  .cardBackShift {
    left: 5rem;
    bottom: 0;
    top: 5rem;
  }
}

/* FORM */

.formContainer {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
}
@media (max-width: 1300px) {
  .formContainer {
    width: 80vw;
    padding-top: 6rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.formContainer form {
  gap: 0.4rem;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.formContainer form span {
  text-align: left;
  min-height: 1.3rem;
}

.formContainer form label {
  color: var(--primaryDark);
  font-size: 0.8em;
}

.formContainer form input {
  padding: 0.5rem;
  margin-top: 0.2rem;
  border-radius: 8px;
  outline: none;
  border: 1px solid gray;
}

/* input:focus-visible {
  outline: 1px solid purple;
} */

input.errorInput {
  border: 1px solid red !important;
}
input.errorInput:focus-visible {
  outline: 2px solid red !important;
}

input:not(.errorInput):focus-visible {
  outline: 2px solid var(--primary) !important;
}

.inputLarge {
  width: 100%;
}
.inputSmall {
  width: 3.5rem;
}

.errorLabel {
  display: block;
  color: red;
  font-size: 0.8em;
}

.formContainer form input.confirmButton {
  background: var(--primaryDark);
  color: white;
  width: 100%;
  padding: 1em 0;
}

.formContainer form input.confirmButton:hover:enabled {
  color: var(--primary);
  cursor: pointer;
}
.formContainer form input.confirmButton:disabled {
  background: gray;
}
